@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(233, 47%, 7%);
  padding: 100px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 20px;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

h1{
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Inter;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 900px;
  flex-wrap: wrap;
}

.description {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 45px;
  background-color: hsl(244, 38%, 16%);
}

.stats {
  justify-content: space-between;
  color: hsla(0, 0%, 100%, 0.75);
  display: flex;
  font-family: inter;
}

h4 {
  margin-bottom: 6px;
}

.summary {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Lexend Deca;
  margin-bottom: 70px;
}

.template {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Inter;
  font-weight: 400;
  font-size: 10px;
}

.insights{
  color: hsl(277, 64%, 61%);
}

.image {
  position: relative;
  width: 50%;
}

img {
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(277, 64%, 61%, 0.7);
}

@media only screen and (max-width: 550px) {
  .container {
    flex-direction: column-reverse;
  }

  .description, .image {
    width: 100%;
  }

  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stat {
    width: 80px;
  }

  .margin {
    margin-bottom: 20px;
  }

  .summary {
    margin-bottom: 50px;
  }
}

